<form (submit)="guardarLibro()">
    <div>
      <label>Título:</label>
      <input type="text" [(ngModel)]="titulo" name="titulo">
    </div>
    <div>
      <label>Referencia:</label>
      <input type="text" [(ngModel)]="referencia" name="referencia">
    </div>
    <div>
      <label>Autor:</label>
      <input type="text" [(ngModel)]="autor" name="autor">
    </div>
    <div>
      <label>Precio:</label>
      <input type="number" [(ngModel)]="precio" name="precio">
    </div>
    <div>
      <label>Ubicación:</label>
      <input type="text" [(ngModel)]="ubicacion" name="ubicacion">
    </div>
    <button type="submit">Guardar</button>
  </form>
  